/*
LAYOUT: Two-Column (Right)
DESCRIPTION: Two-column fluid layout with one sidebar right of content
*/

@media only screen and ( min-width: 900px ){

	body{
		font-size:1em;
	}

	section#wrapper{
		margin:1em auto;
		width:960px;
	}

	section#container {
		float:left;
		margin:0 -320px 0 0;
		width:100%;
	}

	section#container > section#content {
		margin:0 320px 0 0;
	}

	aside.sidebar {
		float:right;
		margin-right:.5em;
		overflow:hidden;
		width:290px;
	}

}

@media only screen and ( max-width: 900px ) {

	body{
		font-size:.8em;
	}
	
}

footer#footer {
	clear:both;
}